			table, th, td {
	            font-family: sans-serif;
	            width: 30%;
	            border: 1px solid black;
	            float: right;
	            margin-top: 10px;
	            padding-top: 0px;
	            padding-right: 0px;
	            margin-right: 0px;
			}

			form {
				text-align: center;
			}

			h1 {
				font-weight: bold;
				text-align: center;
				font-size: 100px;
				color: #104E8B;
			}

			body {
				width: 1000px;
				font-family: sans-serif;
				font-weight: bold;
				text-align: center;
			}

			input[type="button"] {
				border: 1px solid #E7BF93;
				background-color: grey;
				color: black;
				border: 1px solid #777777;
				width: 100px;
			}

			input[type="text"] {
				border-width: 0px;
				border: solid #777777;
				width: 200px;
			}
			img {
				width: 100px;
				height: 100px;
				float: left;
				padding-left: 100px;
			}

			#page {
				border-top: 0px;
				padding-top: 0px;
				margin-top: 0px;
				width: 60%;
				float: left;
				border-right: 1px solid #B8B8B8;
				padding-right: 70px;
			}

			h3 {
				padding-top: 85px;
				color: #4682B4;
			}

			#dropdown {
				float: left;
				clear: both;
				margin-left: 174px;
				clear: right;
				width: 200px;
				padding-top: 0px;
				margin-top: 0px;
				size: 5;
				visibility: hidden;
			}

			#whole { 
				padding: 0px;
				margin: 0px;
				border: 0px;
				height: 40px;
			}