			body {
				width: 1500px;
			}
			table, th, td {
	            font-family: sans-serif;
	            border-collapse: collapse;
	            /*width:10%;*/
	            margin-top: 10px;
	            padding-top: 0px;
	            padding-right: 0px;
	            margin-left: 300px;
	            margin-right: 0px;
			}

			button {
				background: none !important ;
				border: none!important ;
				color: blue;
				cursor: pointer;
				font-size: 1em;
				margin: 0;
				padding: 0!important ;
				text-align: left;
			}

			button:hover span {
				text-decoration: underline;
			}

			h3 {
				color:#104E8B;
				font-size: 40px;
				padding-top: 0px;
				margin-top: 15px;
				float: left; 
			}

			img {
				margin-top: 16px;
				width: 50px;
				height: 50px;
				float: left;
			}

			input[type="text"] {
				padding-top: 0px;
				margin-left: 20px;
				margin-top: 26px;
				border-style: solid;
				border-color: #777777; 
				border-width: 1px;
				width: 500px;
				height: 25px;
				font-size: 20px;
				font-family: sans-serif;
				margin-bottom: 0px;
				padding-bottom: 0px;
			}

			input[type="submit"] {
				background-color: #104E8B;
				color: white;
				padding-top: 4px;
				margin-top: 0px;
				width: 70px;
				height: 25px;
				border-top: 0px;
				font-size: 15px;
				cursor:pointer;
			}

			#searchButton {
				background-color: #104E8B;
				color: white;
				padding-top: 4px;
				margin-top: 0px;
				width: 80px;
				height: 25px;
				border-top: 0px;
				font-size: 15px;
			}

			#whole {
				background-color: #F1F1F1;
				padding: 0px;
				margin: 0px;
				border: 0px;
				height: 70px;
			}

			h5 {
				position: fixed;
				top: 15px;
				left: 750px;
			}

			#so {
				width: 5px;
				float: right;
				position: fixed;
				top: 18px;
				left: 1000px;	
			}

			#back {
				background-color: #F1F1F1;
				color: #104E8B;
				font-family: sans-serif;
				font-weight: 900;
				border: 0px;
				float: left;
				padding-top: 4px;
				margin-top: 18px;
				width: 80px;
				height: 40px;
				font-size: 21px;
			}

			.entry {
				width: 50%;
			}

			.entrytitle {
				font-size: 20px;
				color: #1A0DB0;
				font-weight: bold;
				margin-bottom: 0px;
			}

			.entryurl {
				margin-bottom: 8px;
				color: #006621;
				font-weight: bolder;
			}

			.entrycontents {
				font-size: 15px;
				color: #545454;
			}

			#pageNum {
				background-color: white; 
				padding-top: 11px;
				margin-right: 5px;
				margin-left: 5px;
				padding-left: 5px;
				padding-right: 5px;
				width: 27px;
				border: 0px;
				color: #1A0DB0;
				font-size: 15px;
			}
			#curr {
				font-size: 15px;
				font-weight: bold;
				padding: 0px;
				margin: 0px;

			}

			#next {
				padding-top: 10px;
				font-weight: bolder;
				background-color: white;
				border: 0px;
				color: #1A0DB0;
			}

			#prev {
				padding-top: 10px;
				font-weight: bolder;
				background-color: white;
				border: 0px;
				color: #1A0DB0;
			}

			#dropdown {
				float: left;
				width: 500px;
				padding-top: 0px;
				margin-top: 0px;
				size: 5;
				visibility: hidden;
			}
